body {
  box-sizing: border-box;
}

.gridContainer{
  display: grid;
  height: 100%;
  grid-template-rows: 1fr 1fr 1fr;
  transition: 300ms;
}

.gridContainer:has(.header:hover){
  grid-template-rows:2fr 1fr 1fr;
}

.gridContainer:has(.gridmain:hover){
  grid-template-rows:1fr 2fr 1fr;
}

.gridContainer:has(.footer:hover){
  grid-template-rows:1fr 1fr 2fr;
}

.header{
  border: 1px solid black;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  transition: 300ms;
}

.gridmain{
  border: 1px solid black;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  transition: 300ms;
}

.header:has(.header_content1:hover){
  grid-template-rows:2fr 1fr 1fr;
}


.header:has(.header_content2:hover){
  grid-template-rows:1fr 2fr 1fr;
}

.header:has(.header_content3:hover){
  grid-template-rows:1fr 1fr 2fr;
}


.gridmain:has(.gridmain_content1:hover){
  grid-template-columns:2fr 1fr 1fr;
}


.gridmain:has(.gridmain_content2:hover){
  grid-template-columns:1fr 2fr 1fr;
}

.gridmain:has(.gridmain_content3:hover){
  grid-template-columns:1fr 1fr 2fr;
}


.footer{
  border: 1px solid black;
  display: grid;
  grid-template: 1fr 1fr /1fr 1fr;
  transition:300ms;
}

.footer:has(.footer_content1:hover){
  grid-template: 2fr 1fr/ 2fr 1fr;
}
.footer:has(.footer_content2:hover){
  grid-template: 2fr 1fr/ 1fr 2fr;
}

.footer:has(.footer_content3:hover){
  grid-template: 1fr 2fr/ 2fr 1fr;
}

.footer:has(.footer_content4:hover){
  grid-template: 1fr 2fr/ 1fr 2fr;
}

.header_content1{
  background-color: #eb4d4b;
}

.header_content2{
  background-color: #6ab04c;
}
.header_content3{
  background-color: #f9ca24;
}

.gridmain_content1{
  background-color:#4834d4;
}

.gridmain_content2{
  background-color: #eb4d4b;
}
.gridmain_content3{
  background-color:#6ab04c;
}

.footer_content1{
  background-color: #f9ca24;
}

.footer_content2{
  background-color: #4834d4;
}
.footer_content3{
  background-color:#eb4d4b;
}

.footer_content4{
  background-color: #6ab04c;
}