:root{
  --contentHeight: 82vh;
  --contentWidth: 82vw;
  --checkSize: 50px;
}



.slideShowContainer{
  overflow-x: hidden;
}
.vscontainer{
  display: flex;
  justify-content: center;
  align-items: center;
}



.vsinnercontainer{
  height:var(--contentHeight);
  width:var(--contentWidth);
  display: grid;
  grid-template: 1fr / 1fr 1fr 1fr;
  transition: 300ms;
}

.left{
  height: var(--contentHeight);
  background-color: #3498db;
}

.middle{
  width:0px;
  height:0px;
  border-bottom: 82vh solid #3498db;
  border-right: 27.4vw solid #e74c3c;
}

.right{
  height: var(--contentHeight);
  background-color: #e74c3c;
}
.vsinnercontainer:has(.left:hover){
  grid-template: 1fr / 2fr 1fr 1fr;
}

.vsinnercontainer:has(.right:hover){
  grid-template: 1fr / 1fr 1fr 2fr;
}


svg text {
  z-index: 999;
  font-family: 'Staatliches', cursive;
  font-size: 6em;
}