:root{
  --menubaropen: 0fr;
  --maincontentshow:1fr;
}


.container{
  display: grid;
  height: 100vh;
  grid-template-columns: var(--menubaropen) var(--maincontentshow);
  transition: 300ms;
}

.menubtn{
  width:100px;
  height:100px;
  background-color: #e74c3c;
}


.menubar{
  background-color:#f1c40f;
  border: 1px solid black; 
}

.main{
  background-color:  #27ae60;
  border: 1px solid black;


}