:root{
  --contentHeight: 82vh;
  --contentWidth: 82vw;
  --checkSize: 50px;
}
.header{
  height:100px;
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.vsContainer{
  height:var(--contentHeight);
  width:var(--contentWidth);
  display: grid;
  grid-template: 1fr / 1fr 1fr 1fr;
  transition: 300ms;
}

.left{
  height: var(--contentHeight);
  background-color: #3498db;
}

.middle{
  width:0px;
  height:0px;
  border-bottom: 82vh solid #3498db;
  border-right: 27.4vw solid #e74c3c;
}

.right{
  height: var(--contentHeight);
  background-color: #e74c3c;
}
/* .sizeCheck{
  height:5px;
  width: var(--checkSize);
  background-color: black;
  transition:300ms;
} */

.vsContainer:has(.left:hover){
  grid-template: 1fr / 2fr 1fr 1fr;
}

.vsContainer:has(.right:hover){
  grid-template: 1fr / 1fr 1fr 2fr;
}

/* .vsContent{
  position: absolute;
  margin-left:15%;
  margin-top:35%;
  font-size: 200px;
} */