.container{
    display: flex;
}

.searchBigBox {
    margin-left: 100px;
    display: flex;
    background-color: pink;
    flex-flow: column nowrap;
    width: 30vw;
    height: 30vh;
    overflow: scroll;
    /* overflow-y: hidden; */
}
.searchBigBox::-webkit-scrollbar{
    display: none;
}

.searchBigBox > .card {
    background-color: blue;
    /* width: 10vw; */
    flex-basis: 100px;
    height: 100px;
    min-height: 100px;
    margin: 5px;
}
.searchBigBox > .card2 {
    background-color: red;
    width: 200px;
    height: 400px;
}
.searchBigBox > .card3 {
    border: 1px solid black;
    background-color: white;
    width: 100px;
    height: 100px;
}